body {
    margin: 0; 
    font-family: Arial, sans-serif; 
}

header {
    background: black;
    padding: 15px 750px 150px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#logo {
    width: 160px; 
    height: auto;
    
}

.itens-cabeca{
    padding-left: 1400px;
    margin-top: -170px;
    display: inline-flex;
}

.itens-cabeca img {
    width: 40px; 
    height: auto;
    margin-left: 20px;
    float: right;
    margin-left: 10px; 
}


.links{
    text-align: left;
    display: flex;
    background: #545454;
    
    
}

h1{
    background: #545454;
    text-align: left;
    margin-bottom: 30px;
    
    
    
}

a{
    color: aliceblue;
    font-family: "Sansation", sans-serif;
    font-size: 20px;
    margin-left: 140px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    
}

.container{
    background: black;
    margin-bottom: 90px;
}