body {
    margin: 0; 
    font-family: Arial, sans-serif; 
}

header {
    background: black;
    padding: 15px 750px 60px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.pp{
   
}


#logo {
    width: 160px; 
    height: auto;
    
}

.itens-cabeca{
    padding-left: 1400px;
    margin-top: -170px;
    display: inline-flex;
}

.itens-cabeca img {
    width: 40px; 
    height: auto;
    margin-left: 20px;
    float: right;
    margin-left: 10px; 
}



